<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:macro name="arm_reference" params="name color">
        <gazebo reference="${name}">
            <material>Gazebo/${color}</material>
            <mu1>1.0</mu1>
            <mu2>1.0</mu2>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <gravity>false</gravity>
            <minDepth>0.001</minDepth>
            <maxVel>1.0</maxVel>
        </gazebo>
    </xacro:macro>
    
    <xacro:arm_reference name="left_body_to_arm_link" color="Grey" />
    <xacro:arm_reference name="left_arm_link" color="Blue" />
    <xacro:arm_reference name="left_hand_link" color="Black" />
    <xacro:arm_reference name="right_body_to_arm_link" color="Grey" />
    <xacro:arm_reference name="right_arm_link" color="Blue" />
    <xacro:arm_reference name="right_hand_link" color="Black" />

</robot>
