<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="arm_transmission" params="name">
        <transmission name="trans_${name}">
        <type>transmission_interface/SimpleTransmission</type>
            <joint name="${name}_joint">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor_{name}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:arm_transmission name="left_shoulder_pitch"/>
    <xacro:arm_transmission name="left_shoulder_roll"/>
    <xacro:arm_transmission name="left_arm_pitch"/>
    <xacro:arm_transmission name="right_shoulder_pitch"/>
    <xacro:arm_transmission name="right_shoulder_roll"/>
    <xacro:arm_transmission name="right_arm_pitch"/>

</robot>
