<?xml version="1.0"?>
<robot name="gankenkun" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931" />

    <!-- Import Rviz color -->  
    <xacro:include filename="$(find opr_description)/urdf/materials.xacro" />

    <!-- import empty link -->
    <link name="base_link"/>
    <!-- uncomment this part to fixed the body in space (ignore gravity)
    <link name="world"/>
    <joint name="world2base" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world"/>
        <child link="base_link"/>
    </joint>
    -->

    <!-- Import robot parts -->
    <xacro:include filename="$(find opr_description)/urdf/body/body.urdf.xacro"/>
    <xacro:include filename="$(find opr_description)/urdf/arms/left_arm.urdf.xacro"/>
    <xacro:include filename="$(find opr_description)/urdf/arms/right_arm.urdf.xacro"/>
    <xacro:include filename="$(find opr_description)/urdf/head/head.urdf.xacro"/>
    <xacro:include filename="$(find opr_description)/urdf/legs/right_leg.urdf.xacro"/>
    <xacro:include filename="$(find opr_description)/urdf/legs/left_leg.urdf.xacro"/>

    <!-- Import transmission -->
    <xacro:include filename="$(find opr_description)/urdf/arms/arm.transmission.xacro" />
    <xacro:include filename="$(find opr_description)/urdf/head/head.transmission.xacro" />
    <xacro:include filename="$(find opr_description)/urdf/legs/leg.transmission.xacro" />

    <!-- Import gazebo plugin -->
    <xacro:include filename="$(find opr_description)/urdf/gazebo.xacro"/>
    <xacro:include filename="$(find opr_description)/urdf/body/body.gazebo.xacro"/>
    <xacro:include filename="$(find opr_description)/urdf/arms/arm.gazebo.xacro" />
    <xacro:include filename="$(find opr_description)/urdf/head/head.gazebo.xacro" />
    <xacro:include filename="$(find opr_description)/urdf/legs/leg.gazebo.xacro" />

</robot>
