<?xml version="1.0"?>
<launch>
    
    <!-- load gazebo-->
    <arg name="model" default="$(find gk_description)/robots/ganken_kun_v1.xacro"  />
    <arg name="paused" default="false"/>
    <include file="$(find gk_gazebo)/launch/gazebo.launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="true"/>
    </include>

    <!-- load controller -->
    <include file="$(find gk_control)/launch/effort_control.launch" />

<!--
    <param name="use_gui" value="$(arg gui)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <rosparam param="source_list">["manipulator/joint_states"]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher output="screen" />
-->

</launch>
