<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:macro name="head_reference" params="name color">
        <gazebo reference="${name}">
            <material>Gazebo/${color}</material>
            <mu1>1.0</mu1>
            <mu2>1.0</mu2>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
            <gravity>false</gravity>
            <minDepth>0.001</minDepth>
            <maxVel>1.0</maxVel>
        </gazebo>
    </xacro:macro>
    
    <xacro:head_reference name="head_yaw_link" color="Grey" />
    <xacro:head_reference name="head_pitch_link" color="White" />

</robot>
